<?php if ($id['option'] == 'main') {?>		
		<div id="rs_line_h"><form action="" name="frm_srh" onsubmit="window.location='<?php echo '?yuli=com:'.$id['com'].';target:'.$id['target'].';option:main;limit_on_page:'?>'+document.frm_srh.limit_on_page.value+';search:'+document.frm_srh.search.value;return false;">
		<div id="rs_line_h_l">
		<input type="text" name="search" size="50" value="" />
		<select name="limit_on_page">
			<option value="">Số tin hiển thị</option>
			<option value="10" <?php if ($config['limit_on_page'] == 10) echo 'selected'?>>10 mẫu tin/trang</option>
			<option value="50" <?php if ($config['limit_on_page'] == 50) echo 'selected'?>>50 mẫu tin/trang</option>
			<option value="100" <?php if ($config['limit_on_page'] == 100) echo 'selected'?>>100 mẫu tin/trang</option>
		</select>
		<input type="button" name="submit" onclick="window.location='<?php echo '?yuli=com:'.$id['com'].';target:'.$id['target'].';option:main;limit_on_page:'?>'+document.frm_srh.limit_on_page.value+';search:'+document.frm_srh.search.value" value="Lọc mẫu tin" />
		</div>
		<div id="rs_line_h_r">
		<input type="button" name="add_new" onclick="window.location='<?php echo '?yuli=com:'.$id['com'].';target:'.$id['target'].';option:add'?>;limit_on_page:<?phpphp echo $id['limit_on_page']?>;page:<?phpphp echo $pages['current']?>;search:<?phpphp echo $id['search']?>'" value="Thêm mẫu tin"  />
		<input type="button" name="delete" value="xóa mẫu tin" onclick="cfrm_del('<?phpphp echo '?yuli=com:'.$id['com'].';target:'.$id['target'].';option:delete'?>;limit_on_page:<?phpphp echo $id['limit_on_page']?>;page:<?phpphp echo $pages['current']?>;search:<?phpphp echo $id['search']?>');" title="Xóa những mẫu tin đã được chọn"  />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</div>
	</form></div>
	<div>Có tất cả <strong><?phpphp echo $pages['rs']?></strong> mẫu tin được tìm thấy trong <strong><?phpphp echo $pages['page']?></strong> trang (đang xem trang <strong><?php echo $pages['current']?></strong>)</div>	
	<!-- Header -->
	<form name="frm">
	<div id="rs_line">
		<div id="rs_header" style="width:5%">T.tự</div>
		<div id="rs_header" style="width:69%">Tiêu đề/ Tên/ Quy cách</div>
		<div id="rs_header" style="width:22%; text-align:center">Ngày cập nhật</div>
		<div id="rs_header" style="width:3%; text-align:center;"><input type="checkbox" name="idall" id="idall" value="" title="Click để chọn tất cả" onclick="chkall();" /></div>
	</div>
	<!-- End Header -->
	<!-- Detail -->
	<?php for ($i=0; $i < count($rs_list); $i++) { ?>
	<div id="rs_line">
		<div id="rs_detail" style="width:5%; text-align:"><?php echo $i+1?>.</div>
		<div id="rs_detail" style="width:69%"><a href="<?php echo '?yuli=com:'.$id['com'].';target:'.$id['target'].';option:edit;item:'.$rs_list[$i]['id']?>;limit_on_page:<?php echo $id['limit_on_page']?>;page:<?php echo $pages['current']?>;search:<?php echo $id['search']?>"><?php echo $rs_list[$i]['title']?><?php if($rs_list[$i]['title'] == "") echo '#'.$rs_list[$i]['id'];?></a></div>
		<div id="rs_detail" style="width:22%"><?php echo date($config['time_format_full'],$rs_list[$i]['lastdate']);?></div>
		<div id="rs_detail" style="width:3%; text-align:center;"><input type="checkbox" name="iddetail" name="iddetail" value="<?php echo $rs_list[$i]['id']?>" title="đánh dấu chọn mẫu tin này" /></div>
	</div>
	<?php }?>
	<!-- End Detail -->
	</form>
	<div id="rs_line" style="text-align:right">
	<p><form name="gfrm" onsubmit="return false;">
		Gõ vào <input type="text" name="goinput" value="<?php echo $pages['current']?>" size="1" />
		hoặc chọn
		<select name="gotopgae" onchange="window.location='<?php echo '?yuli=com:'.$id['com'].';target:'.$id['target'].';option:main;limit_on_page:'.$config['limit_on_page'].';page:'?>'+this.value">
			<?php for ($i = 1; $i <= $pages['page']; $i++) { ?>
			 <option value="<?php echo $i?>" <?php if ($i == $pages['current']) echo 'selected';?>><?php echo $i?></option>
			<?php }?>
		</select>
		trang
		<input type="button" name="button" onclick="gotopage(document.gfrm.goinput.value,'<?php echo '?yuli=com:'.$id['com'].';target:'.$id['target'].';option:main;limit_on_page:'.$config['limit_on_page'].';page:'?>');" value="Di chuyển đến" /> &nbsp;
	</form></p>
	</div>	
<?php }?>
<?php if ($id['option'] == 'add') {?>
	<p>
	<h5>Thêm mẫu tin: <?php echo $menu[$id['com']][$id['target']]?></h5>
	<span id="red"><em><?php echo $msg?></em></span>
	</p>
	<div><form action="" method="post" name="frm" enctype="multipart/form-data">
	<div id="rs_line">
		<div id="rs_line_l">
			Tiêu đề quảng cáo :
		</div>
		<div id="rs_line_r">
			<input type="text" name="add_title" value="" size="40" />
		</div>
	</div>
	<div id="rs_line">
		<div id="rs_line_l">
			Liên kết (link) mở ra :
		</div>
		<div id="rs_line_r">
			<input type="text" name="add_link" value="" />
		</div>
	</div>
	<div id="rs_line">
		<div id="rs_line_l">
			Đường dẫn tới quảng cáo :
		</div>
		<div id="rs_line_r">
			<input type="text" name="add_pic_url" value="" size="40" />
		</div>
	</div>
	<div id="rs_line">
		<div id="rs_line_l">
			Hình ảnh tải lên :
		</div>
		<div id="rs_line_r">
			<input type="file" name="add_pic_upload" value="" size="40" />
		</div>
	</div>
	<div id="rs_line">
		<div id="rs_line_l">
			Loại hình quảng cáo (Hình ảnh hoặc Flash) :
			<p>
			Lưu ý nếu bạn chọn là flash thì phải cho biết độ cao và độ rộng của flash
			</p>
		</div>
		<div id="rs_line_r">
			<input type="radio" name="add_pic_type" onclick="document.frm.add_pic_width.disabled=true;document.frm.add_pic_height.disabled=true;" value="0" checked /> Hình
			<input type="radio" name="add_pic_type" onclick="document.frm.add_pic_width.disabled=false;document.frm.add_pic_height.disabled=false;" value="1" /> Flash
			<p>
			Độ rộng : <input type="text" name="add_pic_width" value="0" size="3" disabled="disabled" /> px - 			
			Độ cao : <input type="text" name="add_pic_height" value="0" size="3" disabled="disabled" /> px 
			</p>
		</div>
	</div>
	<div id="rs_line">
		<div id="rs_line_l">
			Vị trí đặt quảng cáo :
			<p>
			Nơi quảng cáo sẽ đặt vào ví dụ <strong>Left</strong> là nhóm bên trái
			</p>
		</div>
		<div id="rs_line_r">
			<input type="text" name="add_pic_position" value="" />
		</div>
	</div>
	<div id="rs_line">
		<div id="rs_line_l">
			Thứ tự ưu hiên hiển thị :
		</div>
		<div id="rs_line_r">
			<input type="text" name="add_pic_place" value="1" size="1" />
		</div>
	</div>
	<div id="rs_line">
		<div id="rs_line_l">
			Thời gian duy trì quảng cáo :
			<p>
			Viết theo định dạng <strong>dd/mm/yyyy</strong>
			</p>
		</div>
		<div id="rs_line_r">
			<input type="text" name="add_live" value="" size="10" /> <input type=button value="select" onClick="displayDatePicker('add_live', false, 'dmy', '/');">
		</div>
	</div>
	<div id="rs_line">
		<div id="rs_line_r">
			<input type="submit" name="submit" value="Chấp nhận" />
			<input type="reset" name="reset" value="Hủy bỏ" />
			<input type="button" name="cancel" value="Quay về" onclick="window.location='?yuli=com:<?php echo $id['com']?>;target:<?php echo $id['target']?>;option:main;limit_on_page:<?php echo $id['limit_on_page']?>;page:<?php echo $id['page']?>;search:<?php echo $id['search']?>'" />
		</div>
	</div>
	</form></div>
<?php }?>
<?php if ($id['option'] == 'edit') {?>
	<p>
	<h5>Cập nhật mẫu tin: <?php echo $menu[$id['com']][$id['target']]?> - <?php echo $detail[0]['title']?></h5>
	<span id="red"><em><?php echo $msg?></em></span>
	</p>
	<div><form action="" name="frm" method="post" enctype="multipart/form-data">
	<div id="rs_line">
		<div id="rs_line_l">
			Tiêu đề quảng cáo :
		</div>
		<div id="rs_line_r">
			<input type="text" name="add_title" value="<?php echo $detail[0]['title']?>" size="40" />
		</div>
	</div>
	<div id="rs_line">
		<div id="rs_line_l">
			Liên kết (link) mở ra :
		</div>
		<div id="rs_line_r">
			<input type="text" name="add_link" value="<?php echo $detail[0]['link']?>" />
		</div>
	</div>
	<div id="rs_line">
		<div id="rs_line_l">
			Đường dẫn tới quảng cáo :
		</div>
		<div id="rs_line_r">
			<input type="text" name="add_pic_url" value="<?php echo $detail[0]['pic_url']?>" size="40" />
			<br />
			<?php if ($detail[0]['pic_url']) echo '<img src="'.$detail[0]['pic_url'].'" height="80">';?>
		</div>
	</div>
	<div id="rs_line">
		<div id="rs_line_l">
			Hình ảnh tải lên :
		</div>
		<div id="rs_line_r">
			<input type="file" name="add_pic_upload" value="" size="40" />
			<input type="hidden" name="old_upload" value="<?php echo $detail[0]['pic_upload']?>" />
			<br />
			<?php if ($detail[0]['pic_upload']) echo '<img src="../lib/banner/'.$detail[0]['pic_upload'].'" height="80">';?>
		</div>
	</div>
	<div id="rs_line">
		<div id="rs_line_l">
			Loại hình quảng cáo (Hình ảnh hoặc Flash) :
			<p>
			Lưu ý nếu bạn chọn là flash thì phải cho biết độ cao và độ rộng của flash
			</p>
		</div>
		<div id="rs_line_r">
			<input type="radio" name="add_pic_type" onclick="document.frm.add_pic_width.disabled=true;document.frm.add_pic_height.disabled=true;" value="0" checked /> Hình
			<input type="radio" name="add_pic_type" onclick="document.frm.add_pic_width.disabled=false;document.frm.add_pic_height.disabled=false;" value="1" <?php if($detail[0]['pic_type'] == 1) echo 'checked';?>  /> Flash
			<p>
			Độ rộng : <input type="text" name="add_pic_width" value="<?php echo $detail[0]['pic_width']?>" size="3" <?php if($detail[0]['pic_type'] == 0) echo 'disabled';?> /> px - 			
			Độ cao : <input type="text" name="add_pic_height" value="<?php echo $detail[0]['pic_height']?>" size="3" <?php if($detail[0]['pic_type'] == 0) echo 'disabled';?> /> px 
			</p>
		</div>
	</div>
	<div id="rs_line">
		<div id="rs_line_l">
			Vị trí đặt quảng cáo :
			<p>
			Nơi quảng cáo sẽ đặt vào ví dụ <strong>Left</strong> là nhóm bên trái
			</p>
		</div>
		<div id="rs_line_r">
			<input type="text" name="add_pic_position" value="<?php echo $detail[0]['pic_position']?>" />
		</div>
	</div>
	<div id="rs_line">
		<div id="rs_line_l">
			Thứ tự ưu hiên hiển thị :
		</div>
		<div id="rs_line_r">
			<input type="text" name="add_pic_place" value="<?php echo $detail[0]['pic_place']?>" size="1" />
		</div>
	</div>
	<div id="rs_line">
		<div id="rs_line_l">
			Thời gian duy trì quảng cáo :
			<p>
			Viết theo định dạng <strong>dd/mm/yyyy</strong>
			</p>
		</div>
		<div id="rs_line_r">
			<input type="text" name="add_live" value="<?php echo date('d/m/Y',$detail[0]['livetodate'])?>" size="10" /> <input type=button value="select" onClick="displayDatePicker('add_live', false, 'dmy', '/');">
		</div>
	</div>
	<div id="rs_line">
		<div id="rs_line_r">
			<input type="submit" name="submit" value="Chấp nhận" />
			<input type="reset" name="reset" value="Hủy bỏ" />
			<input type="button" name="cancel" value="Quay về" onclick="window.location='?yuli=com:<?php echo $id['com']?>;target:<?php echo $id['target']?>;option:main;limit_on_page:<?php echo $id['limit_on_page']?>;page:<?php echo $id['page']?>;search:<?php echo $id['search']?>'" />
		</div>
	</div>
	</form></div>
<?php }?>
<?php if ($id['option'] == 'delete') {?>
	<p>
	<h5>Xóa các mẫu tin: <?php echo $menu[$id['com']][$id['target']]?></h5>
	<span id="red"><em><?php echo $msg?></em></span>
	</p>
	<div><form action="" method="post" enctype="multipart/form-data">
	<div id="rs_line">
		<div id="rs_line_l">
			Danh sách các mẫu tin cần xóa :
			<p>Bạn cần lưu ý rằng khi đã quyết định xóa một mẫu tin thì không thể phục hồi lại</p>
		</div>
		<div id="rs_line_r">
		<?php for ($i=0; $i < count($rs_list); $i++) { ?>
			<div><strong><?php echo $rs_list[$i]['title']?><?php if($rs_list[$i]['title'] == "") echo '#'.$rs_list[$i]['id'];?></strong></div>
		<?php }?>	
		</div>
	</div>
	<div id="rs_line">&nbsp;</div>
	<div id="rs_line">
		<div id="rs_line_r">
			<input type="submit" name="submit" value="Chấp nhận" />
			<input type="button" name="cancel" value="Quay về" onclick="window.location='?yuli=com:<?php echo $id['com']?>;target:<?php echo $id['target']?>;option:main;limit_on_page:<?php echo $id['limit_on_page']?>;page:<?php echo $id['page']?>;search:<?php echo $id['search']?>'" />
		</div>
	</div>
	</form></div>
<?php }?>

