<div id="alert_box" style="background-color:#FFFFFF">
	<div id="alert_header">&nbsp; Hệ thống yêu cầu</div>
	<div id="alert_detail">
		<strong>Bạn phải cung cấp thông tin bảo mật !</strong>
		<form action="" method="post" enctype="multipart/form-data">
		<p>
			<span id="red"><?php echo $msg?><br /></span>
			<br />
			<p>
				<div id="login_left">
					Tên đăng nhập:
				</div>
				<div id="login_right">
					<input type="text" name="username" />
				</div>
			</p>
			<p>
				<div id="login_left">
					Mật khẩu:
				</div>
				<div id="login_right">
					<input type="password" name="password" />
				</div>
			</p>
			
			<p>		
				<div id="login_left"></div>		
				<div id="login_right">
				<input style="margin-top:5px;" type="submit" name="submit" value="đăng nhập" /></div>
			</p>
		</p>
		</form>
		<br /><br />
	</div>
</div>
<div id="copyright">
&copy; 2009 by <a href="http://minhchat.com.vn"><strong>Minh Chat</strong></a>. Powered by Minh Chat Company
</div>