body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#fff;
	margin:0px;
	background: url(../images/bg_header.jpg) top repeat-x #f0f0f0;
}
a {
	text-decoration:none;
	color:#fff;
}
a:hover {
	text-decoration:underline;
	color:#fff;
}
.blue {
	color:#16498b;
}
.yellow {
	color:#fff000;
}
.red {
	color:#f00;
}
input {
	font-size:10px;
}
select {
	font-size:10px;
}
fieldset {
	border:1px solid #ccc;
	margin:0px;
	padding:5px;
}